.forgotpassword-container{
    height: 70%;
        width: 40vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        .forgotpassword-heading{
            display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 30px;
          justify-content: center;
          .forgotpassword-heading-text{
            color: #004C8F;
              font-size: 14px;
              font-weight: 700;
              line-height: 16.8px;
              letter-spacing: 3px;
          }
          .forgot-head{
            display: flex;
            margin: 20px 0;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            .forgot-head-left{
                font-size: 20px; 
                font-weight: 500
            }
            .forgot-head-right{
                text-transform: capitalize;
                color: #0662B7;
                align-items: center;
            }
          }
          .forgot-text{
            font-size: 12px;
              font-weight: 500;
              line-height: 14px;
              margin-bottom: 5px;
          }
        }
        .footer{
            margin-top: 20%; 
            margin-left: 40px;

            .footer-button{
                text-transform: capitalize;
                color: white;
                width: 320px;
            }
    }
            
        }
        