.forgotpassword-container{
    height: 70%;
        width: 40vw;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.875rem;
        .forgotpassword-heading{
            display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding: 0 1.875rem;
          justify-content: center;
          .forgotpassword-heading-text{
            color: #004C8F;
              font-size: 0.875rem;
              font-weight: 700;
              line-height: 1.05rem;
              letter-spacing: 0.1875rem;
          }
          .forgot-head{
            display: flex;
            margin: 1.25rem 0;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            .forgot-head-left{
                font-size: 1.25rem; 
                font-weight: 500
            }
            .forgot-head-right{
                text-transform: capitalize;
                color: #0662B7;
                align-items: center;
            }
          }
          .forgot-text{
            font-size: 12px;
              font-weight: 500;
              line-height: 0.875rem;
              margin-bottom: 0.3125rem;
          }
        }
        .footer{
            margin-top: 20%; 
            margin-left: 1.875rem;

            .footer-button{
                text-transform: capitalize;
                color: white;
                width: 21.25rem;
            }
    }
            
        }
        