.reviewCard {
    background-color: #eceff2;
    padding: 0;
    padding-bottom: 88px;
    
      }

      .typeText{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing:  0.0025em;
        color:#151515;
      }