.sales-dashboard {
  text-align: center;
  display: flex;

  .main-container {
    width: 100%;
    background-color: #f0f2f5;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Ilisarniq';

    .dsa-data-container {
      background-color: white;
      display: flex;
      flex-direction: column;

      .report-cards {
        display: flex;
        height: 70vh;
        margin: 40px;

        .progress-card {
          width: 50%;
        }
        .graph-card {
          width: 50%;
          .graph-div {
            border: 1px solid #d8d9db;
            border-radius: 10px;
            margin-top: 30px;
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20px;

            .overview-text {
              font-size: 16px;
              color: black;
              font-weight: bold;
            }

            .overview-text2 {
              font-size: 16px;
              color: black;
            }
            .filter-graph-box {
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
              width: 100%;
            }
          }
        }
      }
    }

    .diff-area {
      margin-top: 70px;
    }

    .list-data-box {
      background-color: white;
      display: flex;
      flex-direction: column;

      .recent-data {
        display: flex;
        margin-top: 24px;
        margin-left: 42px;

        .recent-data-text {
          font-size: 14px;
          color: black;
          font-weight: bold;
        }
      }

      .line3-div {
        border: 1px solid #f0f2f5;
        margin-top: 24px;
        margin-left: 32px;
        margin-right: 32px;
      }
    }
  }
}

li,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.horizontal-cards {
  display: flex;
  height: 22vh;
  margin-left: 40px;
  margin-right: 40px;
}

.line-div {
  border: 1px solid #f0f2f5;
  margin-top: 27px;
  width: 100%;
}

.divider-line {
  border: 1px solid #e6e7e8;
  margin-left: 40px;
  margin-right: 40px;
}

.graph-filter-box {
  color: black;
  font-size: 12px;
  background-color: #d8d9db;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

.hour-box {
  color: black;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.selectedBox {
  font-size: 12px;
  background-color: #0662b7;
  height: 5vh;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 3px;
}

.third-header {
  display: flex;
  flex-direction: row;
}

.line2-div {
  border: 0.5px solid #8a8b8c;
  height: 3vh;
}

.overview-text3 {
  font-size: 12px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.selected-overview-text3 {
  font-size: 12px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.formControl {
  min-width: 20vw;
}

.status-filter {
  background-color: "lightgrey";
  font-size: 10px;
}
