.css-jy1wwb-MuiTypography-root{
    margin-bottom: '2px'!important;
}
.MuiButtonBase-root .MuiIconButton-root .MuiIconButton-sizeMedium .css-o0qvbn-MuiButtonBase-root-MuiIconButton-root{
padding: 0;
}
.css-p3zgmz-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline{
    border-color: black !important;
}