.singleCard{
    background-color: #eceff2;
    padding: 0;
    padding-bottom: 100px;
    .box1{
        background-color: white;
        padding: 16px 24px 0 24px;
        margin-top: 25px;

        .head{
            display: flex; 
            justify-content: space-between;
            padding: 15px 0 20px 0;
            

            .headFull{
              display: flex;
              justify-content: flex-start;
              gap: 8px;
            }
            .headIcon{
                color: #0078EF;
                cursor: pointer;

            }
            
            .headId{
                background-color: #E6E7E7;
                border-radius: 10px;
                padding: 5px 8px;
                gap:8px;
                

            }

        }

    }
    .box2{
        background-color: white;
        padding: 24px;
        margin-top: 24px;

        .uploadTitle{
            display: flex;
            justify-content: flex-start;
            gap: 16px;

            .img{
                margin-bottom: 14px;

            }
        }
        .ImgUploadBox{
            margin-top: 16px;
            .imgCard{
              width: 350px;
              height: 150px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: #e0e0de;
            }

        }

    }

    .box3{
        background-color: white;
        padding: 24px;
        margin-top: 24px;

        .cardDetail{
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            .img{
                margin-bottom: 14px;

            }
        }

        .cardDetailGrid1{
            padding: 16px 0 ;
            
        }

        .cardDetailSelect{
            display: flex; 
            flex-direction: column; 
        }
        

    }
    .box4{
        background-color: white;
        padding: 24px;
        margin-top: 24px;
        .surrogateTitle{
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            .img{
                margin-bottom: 14px;

            }
        }
        .chooseSurrogateGrid{
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            .box{
                display: flex;
                .text{
                    padding-top: 8px

                }
            }
        }
    }
    .box5{
        background-color: white;
        padding: 24px;
        margin-top: 24px;
        .channelTitle{
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            .img{
                margin-bottom: 14px;
            }
        }
        .chooseChannelGrid{
            display: flex;
             gap: 10%;
            margin-top: 16px; 
            .box{
                display: flex;
                .text{
                    padding-top: 8px

                }
            }
        }

    }
    .box6{
        background-color: white;
        padding: 24px;
        margin-top: 24px;
        .eligibilityTitle{
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            .img{
                margin-bottom: 14px;
            }
        }
        .eligibilityGrid{
            padding: 16px 0;
            
        }
        .eligibilityGrid2{
            margin-top: 16px;
            .c4c{
                display: flex;
                 flex-direction: column;
                 width: 92%
            }
        }
        

    }

    .box7{
        background-color: white;
        padding: 24px;
        margin-top: 24px;
        .benefitsTitle{
            display: flex;
            justify-content: flex-start;
            gap: 16px;
            .img{
                margin-bottom: 14px;
            }
        }
        .benefitsBox{
            margin-top: 16px;
            .box{
                display: flex;
                .text{
                    padding-top: 8px 
                }
            }
            
        }
        
        

    }

    .box8{
        background-color: white;
        padding: 24px;
        margin-top: 24px;
        .feeWavier{
            display: flex;
            justify-content: space-between;
            .feeWavierHead{
              display: flex;
              justify-content: flex-start;
              gap: 16px;
              .img{
                height: 20px;
                width: 20px;
                // margin-bottom: 14px;
              }

            }
            .btn{
                display: flex;
                .text{
                    text-transform:capitalize;
                }
            }
            
        }
        // .fuelSurchargeTextBox{
        //     padding: 20px;
        // }
        .joiningFeeBox{
            display: flex;
            justify-content: flex-start;
            padding: 10px 0;
            .text{
                margin-left: 3px;
                color: grey;
            }

        }

        .joiningFeeGrid{
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            font-weight: 400;
            margin-top: 5px;
            padding-bottom: 15px;

        }
        .joiningFeeSelect{
            display: flex;
             flex-direction: column;
             .field{
                height: 40px; 

             }
        }
        .joiningFeeFull{
            display: flex;
             flex-direction: column;
             .textField{
                // margin-top: 5px;
                width: 100%;
             }
        }
        .annualFeeHead{
            display: flex;
            justify-content: flex-start;
            padding: 15px 0 20px 0;
            margin-top: 20px;
            .text{
                margin-left: 3px;
                color: grey;
            }

        }
        .annualFeeGrid{
                  display: flex;
                  justify-content: flex-end;
                  font-size: 12px;
                  font-weight: 400;
                  margin-top: 5px;
                  padding-bottom: 15px;

        }
        .annualFeeSelect{
            display: flex;
            flex-direction: column;
            .select{
                height: 40px;
            }
        }

        .currencyMarkupDescription{
            display: flex;
             flex-direction: column;
              margin-top: 8px;
              .fullText{
                // margin-top: 5px;
                max-width: 100%;
              }

        }
        .fuelSurchargeBox{
            display: flex;
            justify-content: flex-start;
            padding: 15px 0 20px 0;
            margin-top: 20px;
            .text{
                margin-left: 3px;
                 color: grey;
            }
        }
        .fuelSurchargeGrid{
            display: flex;
            justify-content: flex-end;
            font-size: 12px;
            font-weight: 400;
            margin-top: 5px;
            padding-bottom: 15px;
        }
        .fuelSurchargeSelect{
            display: flex;
            flex-direction: column;
            .select{
                height: 40px;
            }
        }

        .fuelSurchargeDescription{
            display: flex;
             flex-direction: column;
              margin-top: 8px;
              .fullText{
                // margin-top: 5px;
                max-width: 100%;
              }
            }
        
    }

    .box9{
        background-color: white;
         margin-top: 24px;
          padding: 32px;
          .rewardHeader{
            display: flex;
             justify-content: space-between;
             .headerBox{
                display: flex;
              justify-content: flex-start;
              gap: 16px;
              .img{
                height: 20px;
                width: 20px;
                // margin-bottom: 14px;
              }
             }
             .headerbtn{
                gap: 8px;
                .btnText{
                    text-transform: capitalize;

                }
             }
          }
          
          .rewardDescriptionBox{
            margin-top: 24px;
            .fullText{
                // margin-top: 5px;
                width: 100%;
            }
            .newText{
                display: flex;
                justify-content: flex-end;
                padding-top: 8px;

            }
          }
    }

    .box10{
        background-color: white;
         margin-top: 24px;
          padding: 32px;
          .keyBenefitsHeader{
            display: flex;
             justify-content: space-between;
             .headerBox{
                display: flex;
              justify-content: flex-start;
              gap: 16px;
              .img{
                height: 20px;
                width: 20px;
                // margin-bottom: 14px;
              }
             }
             .headerbtn{
                gap: 8px;
                .btnText{
                    text-transform: capitalize;

                }
             }
          }
          
          .keyBenefitsDescriptionBox{
            margin-top: 24px;
            .fullText{
                // margin-top: 5px;
                width: 100%;
            }
            .newText{
                display: flex;
                justify-content: flex-end;
                padding-top: 8px;

            }
          }
    }

    .box11{
        background-color: white;
         margin-top: 24px;
          padding: 32px;
          .additionalBenefitsHeader{
            display: flex;
             justify-content: space-between;
             .headerBox{
                display: flex;
              justify-content: flex-start;
              gap: 16px;
              .img{
                height: 20px;
                width: 20px;
                // margin-bottom: 14px;
              }
             }
             .headerbtn{
                display: flex;
                gap: 8px;
                .btnText{
                    text-transform: capitalize;

                }
             }
          }
          
          .additionalBenefitsDescriptionBox{
            margin-top: 24px;
            .fullText{
                // margin-top: 5px;
                width: 100%;
            }
            .newText{
                display: flex;
                justify-content: flex-end;
                padding-top: 8px;

            }
          }
    }

    .box12{
        background-color: white;
         margin-top: 24px;
          padding: 32px;
          .welcomeBenefitsHeader{
            display: flex;
             justify-content: space-between;
             .headerBox{
                display: flex;
              justify-content: flex-start;
              align-items: center;
              gap: 16px;
              .img{
                height: 20px;
                width: 20px;
                // margin-bottom: 14px;
              }
             }
             .headerbtn{
                display: flex;
                gap: 8px;
                .btnText{
                    text-transform: capitalize;

                }
             }
             
          }
          
          .welcomeBenefitsDescriptionBox{
            margin-top: 24px;
            .fullText{
                // margin-top: 5px;
                width: 100%;
            }
            .newText{
                display: flex;
                justify-content: flex-end;
                padding-top: 8px;

            }
          }
    }

    
    .footer{
        background-color: white;
          margin-top: 24px;
          padding: 20px 32px;
          position: fixed;
          bottom: 0;
          right: 0;
          width: 100%;
          border-top: 1px solid black;
          .box{
            display: flex;
             justify-content: flex-end;
             gap: 16px;
          }
    }

    // .css-hj0bbe-MuiTypography-root{
    //     margin-bottom: 10px;
    // }
    // .MuiBox-root css-0{
    //     margin-bottom: 5px;
    // }
    .css-1asd5ky-MuiTypography-root{
        margin-bottom: 5px;
    }
    

}