.checkbox-select-dropdown {
  .css-1cqo6r-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    height: 45px;
    margin: 8px 0px;
  }
}

.checkbox-dropdown-options {
  .search-text-field {
    .css-176f598-MuiInputBase-root-MuiOutlinedInput-root {
      height: 42px;
      margin: 18px 18px 0px 18px;
    }
  }

  .each-option {
    margin-left: 20px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 5px 20px;
    background-color: white;
  }

  .underline {
    border: 1px solid #f0f2f5;
    width: 100%;
    margin: 10px 0px;
  }
}
