.modal_container {
  max-width: 540px !important;
}
.modal_form_label,
.radio-btnlabel .MuiFormControlLabel-label {
  font-size: 13px !important;
}
.modal_container1 {
  max-width: 450px !important;
}

.create_newpassword {
  max-width: 460px !important;
}
.datepicker_icon svg {
  color: #0662b7 !important;
}

.modal_form_label {
  border-bottom: 2px solid #f3f3f3 !important;
  margin-bottom: 10px !important;
}

.history_modal {
  .MuiDialog-paperFullWidth {
    max-width: 750px !important;
  }
}

.custom-modal {
  .search-container-rejection {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
      font-size: 13px;
    }
    .search-box {
      display: flex;
      justify-content: center;
      align-items: center;

      border: 1px solid #afaeaf;
      border-radius: 4px;
      height: 40px;
      width: 100%;
      padding: 0 14px;
      margin-top: 13px;
      .search-icon {
        color: #afaeaf;
        margin-right: 10px !important;
      }
    }
  }
  .lmsRule-table {
    margin-top: 13px;
    .lmsRule-table-header {
      padding: 4px 14px;
      .lmsRule-table-head {
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        padding: 10px;
        text-align: center;
        color: #151515;
        border: none;
      }
      .lmsRule-tableRow {
        background-color: #eef7ff;
      }
    }
    .lmsRule-TableBody {
      border-bottom: 2px solid #e9eaeb;
      .lmsRule-tableData {
        text-align: center;
        border: none;
      }
    }
  }

  .modal-title {
    border-bottom: 1px solid #36363624;
    font-size: 13px;
    font-weight: 600;
    color: #555759;
  }

  .success-reject-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .accessLibraryCloseBtn {
    position: absolute !important;
    right: 10px !important;
    text-transform: capitalize !important;
  }

  .loading-msg-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .loading-msg {
    font-size: 14px;
    font-weight: 400;
    color: #656769;
  }
  .successMsg {
    .successMsg-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding-bottom: 10px;
    }
    .successicon-closeIcon {
      position: absolute;
      right: 27px;
      top: 20px;
      text-transform: capitalize;
      cursor: pointer;
    }
  }
}
