.search-dropdown-text-field {
  .css-176f598-MuiInputBase-root-MuiOutlinedInput-root {
    height: 45px;
    margin: 18px;
  }

  .css-1ealnlr-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    height: 45px;
    margin: 0px 18px;
  }
}
