.card-container {
  .header-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 1.5rem 1rem !important;
    .avatar {
      background-color: #0662b7;
      .flex-box {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        color: white !important;
        font-size: 14px !important;
      }
    }
  }
  .list-box {
    display: flex !important;
    gap: 5% !important;
    padding: 1rem !important;
    .card-head {
      font-size: calc(1px + 1vw);
      color: #656769;
      font-weight: 400;
    }
    .card-subhead {
      font-size: calc(-2.5px + 1vw);
      color: #afaeaf;
    }
    .main-content {
      display: flex;
      align-items: center;
      width: 70%;
    }
    .flex-class {
      display: flex;
      justify-content: center;
      align-items: center;
      
      
      
      // width: 20px;
      // height:20px;
      // background-color: grey;
      cursor: pointer;
    }
    .flex-class:hover{
      background-color: #dedcdc;
      
      border-radius: 100%;

    }
    .saved-items-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }
  .main-image {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0.5rem !important;
    width: 20rem;
    img {
      width: 100%;
    }
  }
}
