.card-container {
  box-shadow: 0px 1px 2px 1px rgba(21, 21, 21, 0.1) !important;
  .header-container {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    padding: 1.5rem 1rem !important;
    .avatar {
      background-color: #0662b7;
      .flex-box {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        color: white !important;
        font-size: 14px !important;
      }
    }
  }
  .list-box {
    display: flex !important;
    justify-content: space-between !important;
    gap: 5% !important;
    padding: 1rem !important;
   
    .card-head {
      font-family: 'Ilisarniq';
      font-style: normal;
      font-weight: 400;
      font-size: 1.09375vw;
      line-height: 16px;
      letter-spacing: 0.0025em;
      color: #656769;
      padding-bottom: 6px;
    }
    .card-subhead {
      font-family: 'Ilisarniq';
      font-style: normal;
      font-weight: 400;
      font-size: 0.78125vw;
      line-height: 14px;
      letter-spacing: 0.004em;
      color: #afaeaf;
    }
    .main-content {
      display: flex;
      align-items: center;
      width: 80%;
    }
    .flex-class {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .saved-items-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
  }
  .main-image {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 0.5rem !important;
    width: 20rem;
    margin: auto;
    img {
      width: 100%;
    }
  }
}
