.main-container {
  margin: 2rem !important;
  .home-container {
    background-color: white !important;
    margin-top: 2rem;
    border-radius: 10px !important;
    display: flex !important;
    flex-direction: row !important;
    gap: 3% !important;
    padding: 5vh 3vw !important;
  }
}
