.active {
  background-color: #0662b7 !important;
  img {
    filter: invert(0%) sepia(100%) saturate(3%) hue-rotate(188deg)
      brightness(109%) contrast(97%) !important;
  }
}

.inactive {
  background-color: transparent !important;
}

.search-container-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  input {
    font-size: 13px;
  }
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px solid #afaeaf;
    border-radius: 4px;
    height: 40px;
    width: 23vw;
    padding: 0 14px;

    .search-icon {
      color: #afaeaf;
    }
  }
}
