.active {
  background-color: #0662b7 !important;
  img {
    filter: invert(0%) sepia(100%) saturate(3%) hue-rotate(188deg)
      brightness(109%) contrast(97%) !important;
  }
}

.inactive {
  background-color: transparent !important;
}
.sidebar-main {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999b9c;
    border-radius: 10px;
  }
}
.sidebar-menu {
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.search-container-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  input {
    font-size: 13px;
  }
  .search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    border: 1px solid #afaeaf;
    border-radius: 4px;
    height: 40px;
    width: 23vw;
    padding: 0 14px;

    .search-icon {
      color: #afaeaf;
    }
  }
}
.powerByStyle {
  font-weight: 400;
  font-size: 0.9vw;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: #b8b9ba;
}
