.details-card-container {
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px 0px;
  .details-card-inner-container {
    padding: 20px 25px;
    width: 97%;
    .each-info {
      margin-bottom: 10px;
    }
    .header {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      margin: 10px 0px;
    }
    .underline {
      border: 1px solid #f0f2f5;
      width: 100%;
      margin: 20px 0px;
    }
    .info-label {
      color: #afaeaf;
      font-size: 12px;
      font-weight: 500;
      margin: 0px 0px 6px 0px;
    }
    .info-value {
      color: #151515;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
