// .css-ahj2mt-MuiTypography-root {

//   font-size: 12px !important;

// }

// .MuiFormLabel-root {

//   font-size: 14px !important;

// }

// .css-uxb4hx-MuiTypography-root{

//   margin-bottom: 0 !important;

// }

// .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {

//   width: 190px !important;

// }

// .css-o4b71y-MuiAccordionSummary-content {

//   margin: 10px 0 !important;

// }

// .css-1wf9q1j-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {

//   min-height: 0px !important;

// }

// .css-wondbr-MuiPaper-root-MuiAccordion-root.Mui-expanded {

//   margin: 0px !important;

// }

// .css-zuucah-MuiPaper-root-MuiAccordion-root.Mui-expanded {

//   margin: 0px !important;

// }

.modal_container {
  max-width: 540px !important;
}

.modal_container1 {
  max-width: 450px !important;
}

.modal_form_label .MuiFormControlLabel-label {
  font-size: 13px !important;
}

.create_newpassword {
  max-width: 460px !important;
}

.datepicker_icon svg {
  color: #0662b7 !important;
}

//  .css-1t1j96h-MuiPaper-root-MuiDialog-paper{

//     max-width: none !important;

//     width: 600px !important;

// }

// .request_Activation_modal{

//   width: 500px !important;

// }

// .css-1t1j96h-MuiPaper-root-MuiDialog-paper{

//   max-width: none !important;

// }
