.css-fdsqwg-MuiPaper-root-MuiTableContainer-root {
  border-radius: 0px !important;
  box-shadow: none !important;
}
.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  border-radius: 0px !important;
  // box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8),
  //   -12px 0 8px -4px rgba(31, 73, 125, 0.8) !important;
}
