.newpassword-container{
    height: 100vh;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .newpassword-head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1.875rem;
        // backgroundColor: 'red',
        justify-content: center;
        .logo-text{
            color: #004C8F;
            font-size: 0.875rem;
            font-weight: 700;
            line-height: 1.05rem;
            letter-spacing: 0.1875rem;
        }
        .password-header{
            display: flex;
             margin: 1.25rem 0;
              padding-top: 0.625rem;
              align-items: center;
              justify-content: space-between;
              width: 100%;
            
          .head-left{
            font-size: 1.25rem;
             font-weight: 500;
          }
          .head-right{
            text-transform: capitalize; 
            color: #0662B7;
          }
        }
        .text-field{
            .text-new-password-container{
                margin: 1.875rem 0 ;
                .text-new-password{
                    color: black;

                }
                .input-new-password{
                    width: 21.25rem;

                }

            }
            .text-confirm-password-container{
                margin: 1.875rem 0 ;
                .text-confirm-password{
                    color: black;

                }
                .input-confirm-password{
                    width: 21.25rem;

                }

            }
        }
        .footer{
            margin-top: 10%;
            .footer-button{
                text-transform: capitalize;
                color: white;
                width: 21.25rem;
            }
                
            .footer-info{
                display: flex;
                gap: 1rem;
                margin-top: 1.25rem;
                align-items: center;
                width: 75%;
                .footer-info-message{
                    font-size: 0.625rem;
                  font-weight: 400;
                  color:  #898989;
                }
            }
        }
    }
    
}