.retargetingMainContainer {
  background-color: #f0f2f5;
  .retargetingcontainer {
    background-color: #ffffff;
    padding: 20px 30px 30px 30px;
    margin: 0 0 30px 0px;
    border-radius: 8px;
    .retargeting-filters-container {
      margin-top: 7px;
      .retargeting-dropdown-label {
        font-size: 13px;
      }
      .retargetingmoreFilters {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        text-align: right;
        letter-spacing: 0.0125em;
        color: #0662b7;
      }
    }

    .retargeting-button-container {
      display: flex;
      gap: 16px;
      margin-left: auto;
    }
  }
  .retargetingOrgDetails {
    background-color: #ffffff;
    .retargetingOrgDetailsHeaderTable {
      padding: 15px 0;
      display: flex !important;
      justify-content: space-between !important;
      flex-direction: row !important;
      align-items: center !important;
      border-bottom: 2px solid #eceff2;
    }
  }
}
